
body{
background-color:;
background-image:url('sozai/haikei/tre1.gif');

}


h1.a{
font-size:40pt;
color:blue;
font-family:HGS‘n‰pŠpÎß¯Ìß‘Ì;
margin-left:  80px;
margin-right:auto;
}

h1.b{
font-size:40pt;
color:#ff00ff;
font-family:HGS–¾’©E;
margin-left:  80px;
margin-right:auto;
}
