
body{
color:#ffffff;
background-image:url('sozai/sp1.gif');
text-align:center;
}

h1{
font-size:60pt;
color:#66ff99;
font-family:HGP–¾’©E;
}


p{
color:#33ffff;
font-size:40pt;
}

ul{
margin: 20px 30%;
font-size:30pt;
color:#ffff66;
}
